@use "../../index.scss";
@use "./Editor.module.scss";

.editor
{
	@extend %editor;
}
.toolbars
{
	@extend %toolbars;
}
.desktop
{
	@extend %desktop;
	border: solid 1px #222;
}

.toolbarWasEdited
{
	cursor: pointer;
	
	input[type="checkbox"]
	{
		margin: 0px;
		position: relative;
		top: 2px;
	}
}

.page
{
	position: absolute;
	z-index: 1;
}
.metricLines
{
	position: absolute;
	z-index: 3;
}
.highlight
{
	position: absolute;
	z-index: 2;
	opacity: 0.80;
}
