@use "../../index.scss";

.editor
{
	display: flex;
	flex-flow: row nowrap;
}
.editor label
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 0px 10px 0px 0px;
}
.editor label input
{
	@extend %input-main;
	width: 100px;
	padding: 0px 0px 0px 10px;
}
.editor input[name=name]
{
	@extend %input-main;
	width: 200px;
}