@use "../../index.scss";

div.wrapper
{
	position: relative;
	padding: 0px;
}
.button
{
	@extend %input-nested;
	padding: 0px 10px;
	&.disabled
	{
		background: rgb(198,198,198);
		color: rgb(185, 185, 185);
		cursor: default;
	}
}
