@use "../../index.scss";

.editor
{
	display: flex;
	flex-flow: row nowrap;
}
.editor label
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 0px 10px 0px 0px;
}
.editor label input
{
	@extend %input;
	width: 100px;
	padding: 0px 0px 0px 10px;
}
.editor .inputName
{
	@extend %input;
	width: 200px;
	&:focus{
		border: solid 1px #f00;
	}
}