@use "../../index.scss";
@use "./Editor.module.scss";

.editor
{
	@extend %editor;
}
.desktop
{
	@extend %desktop;
}

.page
{
	position: absolute;
	z-index: 1;
}
.highlight
{
	position: absolute;
	z-index: 2;
	opacity: 0.80;
}