@use "sass:list";
@use "../../index.scss";

div.select
{
	position: relative;
	padding: 0px;
}
.wrapper
{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 100%;
}
.input
{
	@extend %input-nested;
	padding: 0px 0px 0px 45px;
}
.indicator
{
	position: absolute;
	left: 5px;
	user-select: none;
}
.count
{
	position: absolute;
	left: 23px;
	font-size: 11px;
}
.options
{
	position: absolute;
	top: calc(100%); left: -1px;
	width: 100%;
	border: solid 1px #000;
	background: #fff;
	z-index: 1;
}