@use "../index.scss";

.footer
{
	display: flex;
	flex-flow: row nowrap;
	height: index.$input-height + index.$row-padding + index.$row-padding;
	background: index.$color-gray;
	z-index: 1;
}
.editor
{
	margin-left: index.$row-padding * 2;
}

.buttons
{
	margin: index.$row-padding index.$row-padding * 2 0px auto;
	display: flex;
	flex-flow: row nowrap;
}
.button
{
	@extend %input;
	margin-left: 7px;
}