@use "../index.scss";

.footer
{
	display: flex;
	flex-flow: row nowrap;
	height: index.$input-main-height + index.$row-margin + index.$row-margin;
	background: index.$color-gray;
}
.editor
{
	margin-left: index.$row-margin * 2;
}