@use "../index.scss";

.header
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: index.$input-height + index.$row-padding + index.$row-padding;
	background: rgba(180, 180, 180, 1);
	z-index: 2;
}

.new
{
	@extend %input;
	margin: index.$row-padding 0px index.$row-padding 14px;
}
.load
{
	@extend %input;
	margin: index.$row-padding 0px index.$row-padding index.$row-padding;
}
.select
{
	@extend %input;
	width: 300px;
	margin: index.$row-padding 0px index.$row-padding index.$row-padding;
}
