@use "../index.scss";
$margin: 7px;

.header
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: index.$input-main-height + $margin + $margin;
	background: rgba(180, 180, 180, 1);
}

.load
{
	@extend %input-main;
	margin: $margin 0px $margin 14px;
}

.select
{
	@extend %input-main;
	width: 250px;
	margin: $margin $margin $margin 7px;
}