@use "../index.scss";

$scroll-height: 17px;

.list
{
	display: flex;
	flex-flow: row nowrap;
	height: 111px + $scroll-height;
	background: index.$color-gray-light;
	overflow-x: scroll;
	box-sizing: border-box;
	border-bottom: solid 1px index.$color-gray-light;
}