$font: 'Segoe UI', sans-serif;

$row-margin: 7px;
$color-gray: rgba(170, 170, 170);
$color-gray-light: rgba(200, 200, 200, 1);
$color-black-light: rgba(70,70,70,1);

$input-main-font-family: $font;
$input-main-height: 30px;

html
{
	height: 100%;
}
body
{
	height: 100%;
	padding: 0px;
	margin: 0px;
}
#root
{
	display: flex;
	flex-flow: column nowrap;
	height: 100%;
}


%input-main
{
	display: block;
	height: $input-main-height;
	box-sizing: border-box;
	padding: 0px 10px;
	font: 16px / $input-main-height $input-main-font-family;
	border-radius: 0px;
	border: solid 1px #000;
	&:focus{
		outline: none;
	}
}